@charset "UTF-8";
@import url("contents.scss.css");

:root {
  --maincolor: #0BA84A;
  --textcolor: #32323C;
  --gray: #87869C;
  --cream: #F5F5F3;
}

html {
  font-size: 16px;
  height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", "Notosans JP", "Hiragino Sans", sans-serif;
  height: 100%;
  background: var(--cream);
  color: var(--textcolor);
  vertical-align: middle;
}

main {
  flex: 1;
  display: flex;
  align-items: center
}

/*aタグreset*/
a {
  text-decoration: none;
  color: var(--textcolor);
  font-weight: bold;
  letter-spacing: .2rem;
}

a:hover {
  color: var(--maincolor);
}

a:active {
  color: inherit;
  text-decoration: none;
}

.footer-sp {
  display: none;
}
.footer a {
  color: var(--maincolor);
}

/*aタグreset*/
img {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--maincolor);
  border-bottom: 1px solid var(--maincolor);
  padding-bottom: 1rem;
}

footer {
  color: var(--maincolor);
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: flex-end;
  letter-spacing: .2rem;
  font-size: 12px;
  border-top: 1px solid var(--maincolor);
  padding-top: 1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: .15rem;
}

h2 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: .1rem;
}

h3 {
  font-size: .85rem;
  line-height: 1rem;
  letter-spacing: .1rem;
}

h4 {
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: .1rem;
}

p {
  font-size: .75rem;
  line-height: 1.15rem;
}

.backtotop {
  font-size: .75rem;
  color: var(--gray);
  padding-top: .5rem;
  width: fit-content;
}
.top-itemgroup {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.top-item {
  height: auto;
  transition: .2s;
}

.top-item:first-child {
  margin-top: -20px;
}
.top-item:nth-child(2) img {
  width: 85%;
  padding-left: 4%;
}

.top-item:last-child img {
  width: 70%;
  padding-top: 2rem;
}

.top-item a {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.top-item:hover {
  transform: translateY(-10px);
  transition: .3s;
}

.top-item-image {
  max-width: 90%;
}

.no-padding {
  padding: 0px;
}

header a {
  line-height: 1.5rem;
}

.works-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  margin: 0px auto;
  width: 85%;
  max-width: 880px;
}

.works-wrap li {
  width: 100%;
}

.works-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.column-wrap {
  display: flex;
  height: 100%;
  overflow: hidden;
  max-height: 100%;
}

.left-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 560px;
  height: 100%;
  padding: 2rem;
  overflow: scroll;
}

.works-summary {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.works-summary a {
  font-weight: normal;
  letter-spacing: 0;
  font-size: .75rem;
  color: var(--maincolor);
}

.works-summary a:hover {
  text-decoration: underline;
}

.title {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: var(--textcolor);
}

.right-wrap {
  background-color: coral;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 3rem;
  display: grid;
  gap: .5rem;
}

.worksimgs {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.grid1,
.grid2,
.grid3,
.grid4 {
  display: grid;
  gap: 1rem;
  grid-template-rows: max-content;
  height: fit-content;
}

.grid1 {
  grid-template-columns: 1fr;
}

.grid2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid4 {
  grid-template-columns: repeat(4, 1fr);
}

.pinokio {
  background: #C4B49D;
}

.pinokio-web {
  background: #eedacf;
}

.vivotree {
  background: #ADD0C9;
}

.panasonicbeauty {
  background: #F0D9D9;
}

.cadet {
  background: #BEC0C3;
}

.franny {
  background: #3b5362;
  padding: 4rem;
}

.franny div {
  gap: 4rem;
}

.fadstart {
  background: #C4B7A5;
  padding: 4rem;
}

.fadstart div {
  gap: 3rem;
}

.competition {
  background: lightsteelblue;
}

.links {
  display: grid;
  gap: .75rem;
  font-size: .75rem;
}

.links a {
  letter-spacing: .15rem;
}

.stickerimg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10%;
}

.thispage {
  pointer-events: none;
  color: var(--maincolor);
}
.genre {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}

.tag {
  display: flex;
  padding: .15rem .5rem;
  border: 1px solid;
  border-radius: 1000px;
  font-size: .75rem;
}

.web {
  background: #faff81;
}

.dtp {
  background: #c4e5b9;
}

.illust {
  background: #d7aaee;
}

.date {
  background: white;
}

.slide-text {
  cursor: pointer;
}

.slide-text.active {
  color: red;
  /* 選択中の色 */
  font-weight: bold;
}

.slide-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 2rem;
}

.tools-wrap {
  gap: 1rem;
}

.tools,
.tools-app {
  grid-template-columns: auto 1fr;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px .5rem rgba(0, 0, 0, 0.05);
  height: auto;
}

.tools-app {
  display: grid;
  align-items: center;
  padding: .75rem;
  border-radius: .75rem;
}

.tools img,
.tools-app img {
  width: 4rem;
}

.tools-app img {
  width: 2.5rem;
  border-radius: .4rem;
}

.graytext {
  color: var(--gray);
}

.profile-wrap {
  display: flex;
  flex-direction: column;
  background: #ebe8e0;
  gap: 1.5rem;
}

.profile {
  height: fit-content;

}

.tools {
  position: relative;
}

.tools-icon {
  width: 1.25rem;
  display: flex;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.tools-sammary {
  padding-bottom: .25rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.about-wrap {
  gap: 1rem;
}

.about-wrap h3 {
  color: var(--maincolor);
}

.about-wrap p {
  font-weight: 600;
}

.about-wrap img {
  width: 20rem;
}

.about-wrap .column {
  gap: .25rem;
}

@media screen and (max-width:1200px) {
  html {
    font-size: 15px;
  }

  .pinokio .grid3 {
    grid-template-columns: 1fr 1fr;
  }

  .pinokio .grid4 {
    grid-template-columns: 1fr 1fr;
  }

  .stickerimg {
    padding: 0;
  }

  .cadet .worksimgs {
    grid-template-columns: 1fr;
  }
  .footer-sp {
    display: none;
  }
}

@media screen and (max-width:800px) {
  html {
    font-size: 14px;
  }

  .no-padding {
    height: auto;
  }

  .top-itemgroup {
    width: 100%;
  }

  .works-wrap {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: auto;
  }

  .works-item a {
    gap: 8px;
    align-items: flex-start;
  }

  .column-wrap {
    flex-direction: column;
    overflow: auto;
    height: auto;
    max-height: none;
  }

  .left-wrap {
    width: 100%;
    height: auto;
    overflow: unset;
  }

  header,
  footer {
    display: flex;
  }
.no-padding footer {
    display: none;
  }

  .right-wrap {
    padding: 2rem;
    height: fit-content;
    overflow: visible;
  }
  .profile {
    grid-template-columns: 1fr;
  }
  .profile-wrap .grid3 {
    grid-template-columns: 1fr;
    }
    .about-wrap img {
      width: auto;
    }
    .no-padding .footer-sp {
      display: flex;
      padding: 2rem;
     }

     .pinokio-web .grid4 {
      grid-template-columns: 1fr;
     }
}